In [5]:
import pandas as pd

# 1️⃣ Cargar el archivo descargado
df = pd.read_csv("../../tranco.csv", names=["rank", "domain"])

# 2️⃣ Filtrar solo los dominios .es
df_es = df[df["domain"].str.endswith(".es")].reset_index(drop=True)

# 3️⃣ Mantener los 200 primeros (suficiente para fuzzy match)
df_es_top = df_es.head(200)

# 4️⃣ Guardar en tu estructura del proyecto
df_es_top.to_csv("../../docs/spanish_domains.csv", index=False)

print(f"✅ Generado data/spanish_domains.csv con {len(df_es_top)} dominios .es")
df_es_top.head(20)

✅ Generado data/spanish_domains.csv con 200 dominios .es

    rank             domain
0    750          amazon.es
1    965         elmundo.es
2   1029             abc.es
3   1170          google.es
4   1278           sport.es
5   1438        eltiempo.es
6   1487            xnxx.es
7   1489         xvideos.es
8   3264            rtve.es
9   4036       20minutos.es
10  4534        eldiario.es
11  4770   elcorteingles.es
12  4884             rae.es
13  5108    eleconomista.es
14  5128         larazon.es
15  5483     tripadvisor.es
16  5535        fotocasa.es
17  6007             boe.es
18  6020  lavozdegalicia.es
19  6124    blogspot.com.es